<mat-card class="main-form">
  <mat-card-actions class="register">
    <mat-card-subtitle>Je ne suis pas encore enregistré...</mat-card-subtitle>
    <button mat-icon-button color="primary" [routerLink]="'/register'">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card [formGroup]="loginForm" class="main-form">

  <mat-card-title>Connexion</mat-card-title>

  <mat-card class="form-card">
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card class="form-card">
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input type="text" matInput formControlName="password">
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card-actions *ngIf="loginForm.valid">
    <button mat-flat-button color="primary" (click)="onSubmitForm()">SE CONNECTER</button>
  </mat-card-actions>

</mat-card>
