<mat-toolbar color="primary" class="mat-elevation-z10">

  <!-- titre + logo -->
  <div class="div-title" [routerLink]="''">
    <button mat-button disableRipple class="btn btn-outline-none">
      <img mat-fab src="assets/images/logo2.png" alt="logo" width="35" height="35">
      <span class="title" >CMS Angular</span>
    </button>
  </div>

  <!-- liens de navigation pour grand ecran -->
  <div fxShow="true" fxHide.lt-md="true">
    <div>
      <a mat-button routerLink="barrages">Barrages</a>
      <a mat-button routerLink="project">Projets</a>
      <a mat-button routerLink="register">Register</a>
      <a mat-button routerLink="admin">Admin</a>
    </div>
  </div>

  <span class="example-spacer"></span>
  <!-- icon sandwich -->
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button class="sandwich-icon" width=100 (click)="headerSidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-sidenav-container fxFlexFill>

  <mat-sidenav #headerSidenav class="collapse-sn" position="end" opened="false" color="primary" fxLayout="column" mode="over" fxHide.gt-sm="true">
    <mat-nav-list>
      <mat-list-item class="collapse-item">
        <mat-icon mat-list-icon>info</mat-icon>
        <span>Barrages</span>
      </mat-list-item><mat-list-item class="collapse-item">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Projets</span>
      </mat-list-item>
      <mat-list-item class="collapse-item">
        <mat-icon mat-list-icon>login</mat-icon>
        <span>Register</span>
      </mat-list-item>
      <mat-list-item class="collapse-item">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span>Admin</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav class="permanent-sn" opened="true" color="primary" mode="side" fxLayout="column">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon class="chevron-button" (click)="isExpanded = !isExpanded"
                  [ngClass]="{'rotated':isExpanded}">chevron_right
        </mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="'register'">
        <mat-icon mat-list-icon>how_to_reg</mat-icon>
        <span *ngIf="isExpanded">Register</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'login'">
      <mat-icon mat-list-icon>login</mat-icon>
      <span *ngIf="isExpanded">Login</span>
    </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>search</mat-icon>
        <span *ngIf="isExpanded">Search</span>
      </mat-list-item>
      <mat-list-item [routerLink]="">
        <mat-icon mat-list-icon>info</mat-icon>
        <span *ngIf="isExpanded">About us</span>
      </mat-list-item>
      <mat-list-item [routerLink]="">
        <mat-icon mat-list-icon>contact_mail</mat-icon>
        <span *ngIf="isExpanded">Contact</span>
      </mat-list-item>

    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <div class="main-content" [ngClass]="{'isPushed':isExpanded}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
